h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Alegreya', serif; */
  font-family: "Noto Sans", sans-serif;
}

p,
label,
td {
  /* font-family: "Alegreya", serif; */
  font-family: "Noto Sans", sans-serif;
}

th,
td {
  font-size: 0.875rem;
}

.card-header {
  font-weight: 700;
}

.col-form-label-sm {
  padding-bottom: 0;
}

.form-group {
  margin-bottom: 0.5rem;
}

.submit-btn {
  width: 100%;
}
