body {
  background: url("../images/Depositphotos_119394910_l-2015.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Alegreya', serif; */
  font-family: "Noto Sans", sans-serif;
}

p,
label,
td {
  /* font-family: "Alegreya", serif; */
  font-family: "Noto Sans", sans-serif;
}

th,
td {
  font-size: 0.875rem;
  text-align: center;
}

.form-control-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  border-radius: 0;
}

.card {
  background: transparent;
}

.jumbotron {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.card-input .card-header {
  margin-bottom: 0;
}

.card-output .card-body {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.card-output .card-header {
  background: rgba(255, 255, 255, 0.85);
  color: black;
}

img {
  width: 100%;
}

.btn-primary {
  color: white !important;
  background-color: black;
  border-color: white;
  width: 100%;
  border-radius: 0;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
  border-color: white;
}

.card-header {
  font-weight: 700;
}

.col-form-label-sm {
  padding-bottom: 0;
}

.form-group {
  margin-bottom: 0.5rem;
}

/* .submit-btn {
  width: 100%;
} */
